header(ng-controller='navbarController')
  .container
    h1
      a(href='/') shrthnd
    nav
      a(href='https://github.com/frankmarineau/shorthand')
        img#github-button(src='/assets/images/github.svg')
      img#about-button(ng-click='toggleAbout()', src='/assets/images/menu.svg')