@import "normalize-css/normalize";

$primary-color: #BBDD4D;
$header-height: 60px;
$light-grey: #ddd;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  display: flex;
  flex-direction: column;
}

body, html {
  height: 100%;
}

.container {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

div[ng-view] {
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
}

header {
  height: $header-height;
  background: $primary-color;

  h1 {
    display: flex;
    align-self: flex-start;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    color: darken($primary-color, 18%);
    height: $header-height;
    line-height: $header-height;
    font-weight: 500;
    letter-spacing: 0.8px;

    &:after {
      opacity: 0;
      content: " By Volume7";
      transition: all 0.2s ease-in-out;
      color: darken($primary-color, 12%);
    }

    &:hover:after {
      opacity: 1;
    }
  }

  nav {
    display: none;
  }

  #info {
    margin-left: auto;
    width: 20px;
    height: 2px;
    background: darken($primary-color, 18%);
  }
}

section.code-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  .title-bar {
    height: $header-height/1.5;
    background: #F5F5F5;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 0.8px;
    line-height: $header-height/1.5;
  }

  &#input {
      #clear {
        display: block;
        margin-left: auto;
        width: 16px;
        height: 16px;
        background-image: url('/assets/images/clear.svg');
        margin-top: ($header-height/1.5/2)-8; // Center close icon
      }
    }

  &#output {
    border-left: 1px solid $light-grey;
  }

  .ace_editor {
    flex: 1;
    border-bottom: 1px solid $light-grey;

    .ace_gutter {
      background: white !important;
      color: #ccc;
      width: 65px !important;

      .ace_gutter-layer {
        width: 40px !important;
        padding-top: 20px;
      }
    }

    .ace_scroller {
      padding-top: 20px;

      &.ace_scroll-left {
        box-shadow: none;
        border-left: 1px solid lighten($light-grey, 5%);
      }
    }

    .ace_bracket, .ace_hidden-cursors {
      display: none;
    }
  }
}