@import "normalize-css/normalize"; // Need to rename normalize.css to _normalize.scss

$primary-color: #BBDD4D;
$header-height: 60px;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 400;
  font-style: normal;
}

.container {
	padding: 0 20px;
}

header {
  height: $header-height;
  background: $primary-color;

  h1 {
  	font-size: 13px;
  	text-transform: uppercase;
  	margin: 0;
  	opacity: 0.3;
  	height: $header-height;
		line-height: $header-height;
		font-weight: 500;
		display: inline-block;
  }

  nav {
  	display: none;
  }

  img#hamburger {
		float: right;
  }
}

section.code-container {
	float: left;
	width: 50%;

	.title-bar {
		height: $header-height/1.5;
    font-size: 11px;
		background: #F5F5F5;
		text-transform: uppercase;
		color: #999;
		line-height: $header-height/1.5;
		margin-bottom: 20px;
	}

	&#output {
		border-left: 1px solid #E9E9E9;
	}

	.ace_editor {
		position: relative;
		width: 100%;
		height: 500px;
		border-bottom: 1px solid #E9E9E9;

		.ace_gutter {
			background: white !important;
<<<<<<< HEAD
      color: #ccc;
=======
			color: #ccc;
			width: 75px !important;

			.ace_gutter-layer {
				width: 50px !important;
			}
>>>>>>> 6ded5652c2fdb973b1cebf3f754ed8b6388ec5dc
		}
	}
}