section#about
  .info-block
    h2 What is Shrthnd?
    :markdown
      Shrthnd is a handy tool that converts CSS properties into [shorthand](https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties), making shorter and more readable stylesheets.

  .info-block
    h2 How do I use it?
    p Simply input your CSS and shorthand syntax will be used wherever possible.

  .info-block
    h2 Can I contribute?
    :markdown
      Sure, Shrthnd is open-source and can be found on [GitHub](https://github.com/frank611/shorthand).

  .info-block
    h2 Who made this?
    :markdown
      We’re [Volume7](http://volume7.io), a Montreal-based digital agency. Let’s work together!