section#about
  .info-block
    h2 What is Shorthand?
    p Shorthand is a handy tool that converts CSS properties into shorthand, making your CSS rule sets shorter, simpler and easier to maintain.

  .info-block
    h2 Can I contribute?
    p
      :markdown
        Sure, Shorthand is open-source and can be found on [GitHub](https://github.com/frank611/shorthand).

  .info-block
    h2 Who made this?
    p
      :markdown
        We’re [Volume7](http://volume7.io), a Montreal-based digital agency. Let’s work together!