section#about
  .info-block
    h2 What is this?
    p Shrthnd is a handy tool that converts CSS properties into shorthand, making your CSS rule sets shorter, simpler and easier to maintain. Simply input your CSS and shorthand syntax will be used wherever possible.

  .info-block
    h2 Can I contribute?
    :markdown
      Sure, Shrthnd is open-source and can be found on [GitHub](https://github.com/frank611/shorthand).

  .info-block
    h2 Who made this?
    :markdown
      We’re [Volume7](http://volume7.io), a Montreal-based digital agency. Let’s work together!