section.code-container#input
  .title-bar
    .container input
      span#clear
  #inputEditor(ace-editor)

section.code-container#output
  .title-bar(ng-click='output()')
    .container output
  #outputEditor(ace-editor, readonly="true")