section.code-container#input
  .title-bar
    .container input
      span#clear(ng-click='clearInput()')
  #inputEditor.placeholder(ace-editor)

section.code-container#output
  .title-bar
    .container output
  #outputEditor.placeholder(ace-editor, readonly='true')