doctype html
html(ng-app='shorthand')

  head
    meta(charset='utf-8')
    title CSS Shorthand Generator
    link(href=styles, rel='stylesheet')
    link(href="//cloud.typography.com/7285072/643924/css/fonts.css", rel='stylesheet')

  body
    div(ng-include="'app/navbar/layout.html'")
    div(ng-view='')
    script(src=scripts)